.posterImage{
    height: 600px;
}

.posterImage > img {
    margin: auto;
    display: block;
    width: 100%;
}

.posterImage__overlay {
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 0.5;
    transition: opacity .3s;
   
}   

.posterImage__overlay:hover {
    opacity: 0.8;
}

.posterImage__title {
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 0.4rem;
    text-align: left;
}

.posterImage__runtime {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.posterImage__rating {
    margin-left: 3rem;
}

.posterImage__description {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 50%;
}

/* CSS for Search Input Container */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  /* CSS for Search Input Field */
  .search-input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    width: 300px;
    color: #fff; /* Set the text color to white */
  }
  
  /* Style for Search Input on Focus */
  .search-input:focus {
    border-color: #007bff;
  }
  